<!DOCTYPE HTML>

<body>
    <p>
        Translation: <strong id="output"></strong>
    </p>
    <script>
        function startLiveUpdate(){
            const textViewCount = document.getElementById('output');

            setInterval(function (){
                fetch('methods.py').then(function (response){
                    return response.json();
                }).then(function (data) {
                    console.log(data);
                    textViewCount.textContent = data; 
                }).catch(function (error) {
                    console.log(error);
                });

            },2000);
        }

        document.addEventListener('DOMContentLoaded', function (){
            startLiveUpdate();
        });
    </script>
</body>



